/*--------------- SETTING --------------*/
.hb_setting-body {
  width: 100%;
  height: 100%;
  background-color: #2f2631;
  border-left: 2px solid #131014;
}

.hb_setting-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url('./img/expand_more-black-48dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  transition: all .4s ease-out;
  vertical-align: middle;
  outline: none;
  fill: #fff
}

.hb_setting-icon.hide {
  transform: rotate(-90deg);
}

.hb_setting-section {
  width: 100%;
  margin: 0;
}

.hb_setting-section__title {
  width: 100%;
  height: 30px;
  background-color: #211b23;
  border-bottom: 2px solid #131014;
}

.hb_setting-section__title__label {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #b9a5a6;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.hb_setting-section__content {
  width: 100%;
  height: auto;
  overflow:hidden;
  transition: all .4s ease-out;
  background-color: #59475c;
}

.hb_setting-section__content.hide {
  max-height: 0;
}

.hb_setting__title {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #b9a5a6;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  color:#b9a5a6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hb_setting__content {
  width: 95%;
  box-sizing: border-box;
  margin: 10px auto;
  border: 1px solid #b9a5a6;
  border-radius: 5px;
}

.hb_setting__button {
  display: block;
  width: 95%;
  height: 20px;
  margin: 5px auto;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.hb_setting__button:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.hb_setting__button--phone {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-image: url("./img/btn-resolution-phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  user-select: none;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #9da8b2;
  border-color: #76818b;
}

.hb_setting__button--tablet {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-image: url("./img/btn-resolution-tablet.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  user-select: none;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #9da8b2;
  border-color: #76818b;
}

.hb_setting__button--browser {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-image: url("./img/btn-resolution-computer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  user-select: none;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #9da8b2;
  border-color: #76818b;
}
