/*--------------- SETTING POPUP --------------*/
.hb_setting-popup {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: 2px solid #495267;
  background-color: #3b4251;
}

.hb_setting-popup div {
  box-sizing: border-box;
  border-bottom: 1px solid #66728d;
}

.hb_setting-popup-titlediv {
  width: 100%;
  height: 10%;
  color: #c3cee2;
  font: 15px;
  font-weight: bold;
  padding-left: 10px;
}

.hb_setting-popup-textdiv {
  width: 100%;
  height: 80%;
  padding: 10px;
}

.hb_setting-popup-textarea {
  display: block;
  width: 100%;
  height: 100%;
}

.hb_setting-popup-applybutton {
  margin: 10px;

  user-select: none;
  font-weight: bold;
  font-size: 13px;
  color: #2d2d2d;
  border: 1px solid #76818b;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #9da8b2;
}

.hb_setting-popup-applybutton:hover {
  background-color: #b5c1cc;
}

.hb_setting-popup-clossbutton {
  width: 25px;
  height: 25px;
  float: right;
  margin: 10px;
  background-image: url("./img/btn-cancel.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  user-select: none;
  border: 1px solid #76818b;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #9da8b2;
}

.hb_setting-popup-clossbutton:hover {
  background-color: #b5c1cc;
}
