/*--------------- BLOCK -------------- */
.hb_block-body {
  width: 100%;
  height: 100%;
  background-color: #2f2631;
  border-left: 2px solid #131014;
}

.hb_block-nav-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url('./img/expand_more-black-48dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  transition: all .4s ease-out;
  vertical-align: middle;
  outline: none;
  fill: #fff
}

.hb_block-nav-icon.hide {
  transform: rotate(-90deg);
}

.hb_block-section {
  width: 100%;
  margin: 0;
}

.hb_block-section__title {
  width: 100%;
  height: 30px;
  background-color: #211b23;
  border-bottom: 2px solid #131014;
}

.hb_block-section__title__label {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #b9a5a6;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.hb_block-section__content {
  width: 100%;
  height: auto;
  overflow:hidden;
  transition: all .4s ease-out;
  background-color: #59475c;
}

.hb_block-section__content.hide {
  max-height: 0;
}

.hb_btn-block {
  display: inline-block;
  width: 35%;
  height: 120px;
  padding: 5px;
  margin: 5px;
  color: #b9a5a6;
  vertical-align: bottom;
  border: 1px solid #131014;
  background-color: #211b23;
  cursor: pointer;
}

.hb_btn-block:hover {
  border: 1px solid #cebdbd;
}

.hb_btn-block .hb_lbl {
  display: inline-block;
  width: 100%;
  white-space: normal;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: bold;
}

.hb_btn-block .hb_img {
  display: block;
  width: 80%;
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  pointer-events: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hb_btn-div {
  background-image: url("./img/div.svg");
}

.hb_btn-h {
  background-image: url("./img/h.svg");
}

.hb_btn-p {
  background-image: url("./img/p.svg");
}

.hb_btn-input {
  background-image: url("./img/input.svg");
}

.hb_btn-text-area {
  background-image: url("./img/text-area.svg");
}

.hb_btn-link {
  background-image: url("./img/link.svg");
}

.hb_btn-img {
  background-image: url("./img/img.svg");
}

.hb_btn-select {
  background-image: url("./img/select-box.svg");
}

.hb_btn-button {
  background-image: url("./img/button.svg");
}

.hb_btn-label {
  background-image: url("./img/label.svg");
}

.hb_btn-check-box {
  background-image: url("./img/check-box.svg");
}

.hb_btn-radio {
  background-image: url("./img/radio.svg");
}
