/*--------------- PROPERTY --------------*/

/*
https://blog.sonim1.com/221 -- BEM

E는 Elements
.stick-man__head { } .stick-man__arms { } .stick-man__feet { }'

M은 Modifiers
.stick-man--blue { } .stick-man--red { }
*/

.hb_prop-body {
  width: 100%;
  height: 100%;
  background-color: #2f2631;
  border-left: 2px solid #131014;
}

.hb_nav-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url('./img/expand_more-black-48dp.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  transition: all .4s ease-out;
  vertical-align: middle;
  outline: none;
  fill: #fff
}

.hb_nav-icon.hide {
  transform: rotate(-90deg);
}

.hb_prop-section {
  width: 100%;
  margin: 0;
}

.hb_prop-section__title {
  width: 100%;
  height: 30px;
  background-color: #211b23;
  border-bottom: 2px solid #131014;
}

.hb_prop-section__title__label {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  color: #b9a5a6;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.hb_prop-section__content {
  width: 100%;
  height: auto;
  overflow:hidden;
  transition: all .4s ease-out;
  background-color: #59475c;
}

.hb_prop-section__content.hide {
  max-height: 0;
}

.hb_prop {
  display: flex;
  width: 100%;
  height:auto;
  padding: 5px;
  justify-content: space-around;
}

.hb_prop__title {
  width: 85%;
  height: 25px;
  box-sizing: border-box;
  border: 1px solid #b9a5a6;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  color:#b9a5a6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hb_prop__sub_title {
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  color:#b9a5a6;
}

.hb_prop__content {
  width: 95%;
  box-sizing: border-box;
  margin: 10px auto;
  border: 1px solid #b9a5a6;
  border-radius: 5px;
}

.hb_prop-sub__title {
  width: 100%;
  border-bottom: 2px solid #211b23;
}

.hb_prop-sub__content {
  width: 100%;
  height: auto;
  overflow:hidden;
  transition: all .4s ease-out;
  background-color: #59475c;
}

.hb_prop-sub__content.hide {
  max-height: 0;
}

.hb_prop__text {
  display: block;
  width: 95%;
  height: 25px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #211b23;
  border: 1px solid #59475c;
  border-radius: 5px;
  font-size: 13px;
  color: #b9a5a6;
  padding: 3px;
  outline: 0;
}

.hb_prop__select {
  display: block;
  width: 95%;
  height: 25px;
  margin: 5px auto;
  background-color: #211b23;
  border: 1px solid #59475c;
  border-radius: 5px;
  font-size: 13px;
  color: #b9a5a6;
}

.hb_prop__unit {
  display: block;
  width: 95%;
  height: 25px;
  margin: 5px auto;
  background-color: #211b23;
  border: 1px solid #59475c;
  border-radius: 5px;
  font-size: 13px;
  color: #b9a5a6;
}

.hb_prop__button {
  display: block;
  width: 95%;
  height: 20px;
  margin: 5px auto;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 12px;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.hb_prop__button:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.hb_prop__multi_select {
  display: block;
  width: 95%;
  height: 100px;
  margin: 0px auto;
  font-size: 12px;
  overflow: auto;
}

.hb_prop__color {
  display: block;
  width: 95%;
  height: 25px;
  margin: 0px auto;
  background-color: #313232;
  border: 1px solid #33383c;
  border-radius: 3px;
  outline: none;
}
